In [1]:
import sqlalchemy 
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func,inspect
from sqlalchemy import Integer, Column, Float, String
import numpy as np

In [2]:
import pandas as pd
import os
import csv
import requests
#from config import api_key
from pprint import pprint
import matplotlib.pyplot as plt

In [3]:
input_file= os.path.join("TMDB_OMDB-3.csv")
df_new=pd.read_csv('TMDB_OMDB-3.csv', encoding = 'utf8')
df_new.head()

,show_id,type,title,director,cast,country,date_added,Netflix release year,rating,duration,listed_in,description,IMDB rating,Rotten Tomatoes rating,Award,Released Date,Budget,Movie ID,Revenue
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,3,36,NaN,2-Aug-19,0,601131.0,1442504
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,9-Sep-16,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,5,0,NaN,NaN,0,415722.0,0
2,80163890,TV Show,Apaches,NaN,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,8-Sep-17,2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...,5,31,2 nominations.,14-Aug-13,0,164337.0,0
3,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada",8-Sep-17,2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f...",6,29,6 nominations.,17-Oct-14,7000000,262543.0,0
4,70304990,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden",8-Sep-17,2014,R,90 min,"Action & Adventure, Thrillers",A struggling couple can't believe their luck w...,5,12,NaN,21-Aug-15,0,262338.0,0

In [4]:
engine = create_engine("postgres://pgadmin@pg-srv-001:ucN-xZRL3NsaBjvG2tcw1gPcsNeS5Xfw@pg-srv-001.postgres.database.azure.com:5432/netflix",connect_args={'sslmode':'require'})

conn=engine.connect()
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['pg_rating', 'title', 'cast', 'Listed_in']

In [5]:
inspector = inspect(engine)
inspector.get_table_names()

['pg_rating', 'title', 'director', 'country', 'cast', 'Listed_in']

In [6]:
title_df = pd.DataFrame(df_new,columns=['show_id','show_type','title','date_added','Netflix release year','duration','description','IMDB rating','Rotten Tomatoes rating','Award','Released Date','Budget','Movie ID','Revenue'])

title_df = title_df.reset_index(drop=True)
title_df.head()

,show_id,show_type,title,date_added,Netflix release year,duration,description,IMDB rating,Rotten Tomatoes rating,Award,Released Date,Budget,Movie ID,Revenue
0,81145628,NaN,Norm of the North: King Sized Adventure,9-Sep-19,2019,90 min,Before planning an awesome wedding for his gra...,3,36,NaN,2-Aug-19,0,601131.0,1442504
1,80117401,NaN,Jandino: Whatever it Takes,9-Sep-16,2016,94 min,Jandino Asporaat riffs on the challenges of ra...,5,0,NaN,NaN,0,415722.0,0
2,80163890,NaN,Apaches,8-Sep-17,2016,1 Season,A young journalist is forced into a life of cr...,5,31,2 nominations.,14-Aug-13,0,164337.0,0
3,70304989,NaN,Automata,8-Sep-17,2014,110 min,"In a dystopian future, an insurance adjuster f...",6,29,6 nominations.,17-Oct-14,7000000,262543.0,0
4,70304990,NaN,Good People,8-Sep-17,2014,90 min,A struggling couple can't believe their luck w...,5,12,NaN,21-Aug-15,0,262338.0,0

In [7]:
title_df["description"] = title_df["description"].str.replace("'","''")
title_df["title"] = title_df["title"].str.replace("'","''")

In [ ]:
show_id_list = list(title_df['show_id'])
show_type_list = list(title_df['show_type'])
title_list = list(title_df['title'])
date_added_list = list(title_df['date_added'])
Netflix_release_year_list = list(title_df['Netflix release year'])
duration_list = list(title_df['duration'])
description_list = list(title_df['description'])
IMDB_rating_list = list(title_df['IMDB rating'])
Rotten_Tomatoes_rating_list = list(title_df['Rotten Tomatoes rating'])
Award_list = list(title_df['Award'])
Released_Date_list = list(title_df['Released Date'])
Budget_list = list(title_df['Budget'])
Movie_ID_list = list(title_df['Movie ID'])
Revenue_list = list(title_df['Revenue'])

for i in range (len (show_id_list)):
    statement = f"INSERT INTO title VALUES ({show_id_list[i]},'{show_type_list[i]}','{title_list[i]}','{date_added_list[i]}','{Netflix_release_year_list[i]}','{duration_list[i]}','{description_list[i]}','{IMDB_rating_list[i]}',{Rotten_Tomatoes_rating_list[i]},'{Award_list[i]}','{Released_Date_list[i]}',{Budget_list[i]},{Movie_ID_list[i]},{Revenue_list[i]})"
    #print (statement)
    conn.execute(statement)
    #      print (show_id_list,show_type_list,title_list,date_added_list,Netflix_release_year_list,duration_list,description_list,IMDB_rating_list,Rotten_Tomatoes_rating_list,Award_list,Released_Date_list,Movie_ID_list,Revenue_list)

In [ ]:
Def 
for col1, col2 in title_df.iterrows():
    print(col2)
    #statement = f"INSERT INTO title (show_id,show_type,title,date_added,Netflix release year,duration,description,IMDB rating,Rotten Tomatoes rating,Award,Released Date,Movie ID,Revenue) VALUES ('{cols}')"
    #conn.execute(statement)

In [ ]:
columns = inspector.get_columns('title')
columns

In [ ]:
for cols in columns: 
    print(cols['name'], cols['type'])

In [ ]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Title = Base.classes.title

In [ ]:
session = Session(engine)

In [ ]:
results = session.query(Title.show_id, Title.award, Title.movie_id).order_by(Title.movie_id.desc()).all()

In [ ]:
print(results)

In [ ]:
results_2 = session.query(Title.director).all()
print(results_2)
#Director_df = pd.DataFrame(results_2,columns=['director'])
#prcp_df = prcp_df.set_index("director")
#Director_df.head()

In [ ]:
Director_df = pd.DataFrame(results_2,columns=['director'])
#Director_df = Director_df.set_index("director")
Director_df = Director_df.reset_index(drop=True)
Director_df.head()

In [ ]:
from sqlalchemy import insert

In [ ]:
for cols in results_2: 
    print(cols[0])

In [ ]:
engine.execute("Select * from Director").fetchall()

In [ ]:
Director_df.director = Director_df.director.str.split(',')
Director_df = Director_df.explode('director').reset_index(drop=True)
Director_df.drop_duplicates(subset=['director'], inplace=True)
Director_df.dropna(subset=['director'],inplace=True)
#Director_df = Director_df[Director_df.director != "None"]
Director_df

In [ ]:
Director_df["director"] = Director_df["director"].str.replace("'","''")

In [ ]:
for cols in Director_df['director']: 
    statement = f"INSERT INTO Director (director_name) VALUES ('{cols}')"
    conn.execute(statement)

In [ ]:
#Country
results_3 = session.query(Title.country).all()
print(results_3)

In [ ]:
#Country
Country_df = pd.DataFrame(results_3,columns=['country'])
Country_df = Country_df.reset_index(drop=True)
Country_df.head()

In [ ]:
Country_df.country = Country_df.country.str.split(',')
Country_df = Country_df.explode('country').reset_index(drop=True)
Country_df.drop_duplicates(subset=['country'], inplace=True)
Country_df.dropna(subset=['country'],inplace=True)
#Director_df = Director_df[Director_df.director != "None"]
Country_df

In [ ]:
for h in Country_df['country']: 
    statement_2 = f"INSERT INTO country (country_name) VALUES ('{h}')"
    conn.execute(statement_2)
    #print(col)

In [ ]:
#Rating
results_4 = session.query(Title.rating).all()
print(results_4)

In [ ]:
pg_rating_df = pd.DataFrame(results_4,columns=['rating'])
pg_rating_df = pg_rating_df.reset_index(drop=True)
pg_rating_df.head()

In [ ]:
for cols in results_4:
    print(cols[0])

In [ ]:
engine.execute("Select * from pg_rating").fetchall()

In [ ]:
pg_rating_df.drop_duplicates(subset=['rating'], inplace=True)
pg_rating_df.dropna(subset=['rating'],inplace=True)
pg_rating_df

In [ ]:
for cols in pg_rating_df['rating']:
    statement = f"INSERT INTO pg_rating (pg_rating_name) VALUES ('{cols}')"
    conn.execute(statement)

In [ ]:
######### New Code #######
netflix_titles_path = "TMDB_OMDB.csv"

# Read the mouse data and the study results
netflix_titles = pd.read_csv(netflix_titles_path)
netflix_titles.replace('', np.nan, inplace=True) 
netflix_titles.drop_duplicates(subset=['show_id'], inplace=True)
#netflix_titles.dropna(subset=['Movie ID','director', 'cast', 'country', 'listed_in'], inplace=True)
#netflix_titles = netflix_titles_temp.drop(columns=["Unnamed: 0","Unnamed: 0.1"])

netflix_titles

In [ ]:
netflix_titles_countries = pd.DataFrame ({"Titles": netflix_titles["show_id"],
                                          "Country": netflix_titles["country"]}) 
netflix_titles_countries.Country = netflix_titles_countries.Country.str.split(', ')
netflix_titles_countries = netflix_titles_countries.explode('Country').reset_index(drop=True)
netflix_titles_countries.dropna(subset=['Country'], inplace=True)
netflix_titles_countries.head(30)

In [ ]:
netflix_titles_listed_in = pd.DataFrame ({"Titles": netflix_titles["show_id"],
                                          "Listed_In": netflix_titles["listed_in"]}) 
netflix_titles_listed_in.Listed_In = netflix_titles_listed_in.Listed_In.str.split(', ')
netflix_titles_listed_in = netflix_titles_listed_in.explode('Listed_In').reset_index(drop=True)
netflix_titles_listed_in.dropna(subset=['Listed_In'], inplace=True)
netflix_titles_listed_in.head(30)

In [ ]:
netflix_titles_directors = pd.DataFrame ({"Titles": netflix_titles["show_id"],
                                          "directors": netflix_titles["director"]}) 
netflix_titles_directors.directors = netflix_titles_directors.directors.str.split(', ')
netflix_titles_directors = netflix_titles_directors.explode('directors').reset_index(drop=True)
netflix_titles_directors.dropna(subset=['directors'], inplace=True)
netflix_titles_directors.head(30)

In [ ]:
netflix_titles_Cast = pd.DataFrame ({"Titles": netflix_titles["show_id"],
                                          "Cast": netflix_titles["cast"]}) 
netflix_titles_Cast.Cast = netflix_titles_Cast.Cast.str.split(', ')
netflix_titles_Cast = netflix_titles_Cast.explode('Cast').reset_index(drop=True)
netflix_titles_Cast.dropna(subset=['Cast'], inplace=True)
netflix_titles_Cast.head(30)